#{extends 'main.html' /}
#{set title:'Signup for Abamo' /}

   <nav class="ui menu">
    <a class="ui item active" href="/editprofile">Edit Profile</a>
    <a class="ui item" href="/logout">Log Out</a>
  </nav> 


<section class="ui segment">
  <h3>You may edit your profile here</h3>
  <form action="/editprofile/edit" method="POST">

  <div class="ui form">
  
	  <div class="fields">
	    <div class="four wide field">
	      <label>First name</label>
	      <input value=${user.firstName} id="firstName" name="user.firstName" type="text">
	    </div>   
	    <div class="four wide field">
	      <label>Last name</label>
	      <input value=${user.lastName} name="user.lastName" type="text">
	    </div>
	    <div class="one wide field">
	      <label>Age</label>
	      <input value=${user.age} name="user.age" type="text"> 
	    </div>      
	  </div>

	  <div class="fields">
		  <div class="four wide field">
		    <label>Address Line 1</label>
		    <input value='${user.address1}' name="user.address1" type="text">
		  </div> 
		  <div class="four wide field">
		    <label>Address Line 2</label>
		    <input value='${user.address2}' name="user.address2" type="text">
		  </div> 
	  </div> 
  
	  <div class="fields"> 
	    <div class="four wide field">
	      <label>City</label>
	      <input value=${user.city} name="user.city" type="text">
	      </div>    
	    <div class="four wide field">
	      <label>State</label>
	      <input value=${user.state} name="user.state" type="text">
	      </div> 
	    <div class="two wide field">
	      <label>Zip Code</label>
	      <input value=${user.zipcode} name="user.zipcode" type="text">
	    </div>
	  </div> 
	  
    <div class="two fields">        
      <div class="field">
        <div class="ui labeled input">
          <div class="ui label">
            Latitude
          </div>
          <input value=${user.geolocation.latitude} type="text" name="user.geolocation.latitude">
        </div>
      </div>
      <div class="field">
        <div class="ui labeled input">
          <div class="ui label">
            Longitude
          </div>
          <input value=${user.geolocation.longitude} type="text" name="user.geolocation.longitude">
        </div>
      </div>                
    </div>	  
	   
    <button type="submit" class="ui blue submit button">Submit</button>  
    <input type="button" class="ui blue submit button" value="Cancel" onClick="history.go(-1);return true;"></input>
  </div>
  </form>
</section>
 