#{extends 'main.html' /}
#{set title:'Signup for Abamo' /}

   <nav class="ui menu">
    <a class="ui item active" href="/editprofile">Edit Profile</a>
    <a class="ui item" href="/logout">Log Out</a>
  </nav>

<section class="ui segment">
<h2>Edit your profile here</h2>
<form action="/editprofile/edit" method="POST">
<input type="checkbox" id = "usCitizen" name="user.usCitizen"> 
<label for="usCitizen">Tick to confirm you are a citizen of the USA</label>  
  <div class="ui two column grid">
  <div class="column">
    <div class="ui fluid form segment">
      <h3 class="ui header">Sign Up</h3>
      <div class="two fields">
        <div class="field">
          <label>First Name</label>
          <input value=${user.firstName} id="firstName" name="user.firstName" type="text">
        </div>
        <div class="field">
          <label>Last Name</label>
          <input value=${user.lastName} name="user.lastName" type="text">
        </div>
      </div>
      <!-- Story 1 -->
	  <div class="field">
		 <label>Age</label>
	     <input value=${user.age} name="user.age" type="text">
      </div>
 	  <div class="field">
		 <label>Location (State)</label>
	     <input value=${user.state} name="user.state" type="text">
      </div>
      <!--  -->  
      <div class="field">
        <label>Email</label>
        <input value=${user.email} name="user.email" type="text">
      </div>
      <div class="field">
        <label>Password</label>
        <input placeholder="New password needed?" type="password" name="user.password">
      </div>
      <div class="inline field">
      </div>
      <button type="submit" class="ui blue submit button" value="submit">Submit</button>
    </div>
  </div>
</div>
</form>
</section>
<section class="ui segment">
  <!-- Provide option to cancel and return to previous view, the donation page -->
  <form action="/donation/donate" method="POST">
    <div class="ui two column grid">
      <div class="column">
        <div class="ui fluid form segment">
	      <button type="submit" class="ui blue submit button" value="cancel">Cancel</button>
	    </div>
      </div>
    </div>
  </form>
</section>