#{extends 'main.html' /} #{set title:'Donation Request' /}
  <nav class="ui menu">
    <a class="ui active item" href="/donation">Make Donation</a>
    <a class="ui item" href="/donation/report">Report</a>
    <a class="ui item" href="/editprofile">Edit Profile</a> <!-- Story 3 -->    
    <a class="ui item" href="/logout">Log Out</a>
  </nav>

<section class="ui segment">
  <h3>Welcome ${user.firstName}</h3>
  <h4>Please give generously</h4>
  
	<div class="ui grid">
	    <div class="six wide column">
				<!-- <form class="ui form" action="/donation/donate" method="POST"> -->
				<form class ="ui form segment">
					<table class="ui table">
					  <thead>
					    <tr>
					      <th>Make a donation</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <td>
	                <div class="ui selection dropdown">
	                  <input name="candidateEmail" type="hidden">
	                  <div class="default text">Select Candidate</div>
	                  <i class="dropdown icon"></i>
	                  <div class="menu">
	                    #{list items:candidates, as: 'candidate'}
	                      <div class="item" data-value="${candidate.email}">${candidate.firstName} ${candidate.lastName}</div>
	                    #{/list}
	                  </div>
	                </div>					      
					      </td>					
					    </tr>
					    <tr>
					      <td>
		              <div class="ui selection dropdown">
		                  <input name="amountDonated" type="hidden">
		                  <div class="default text">Amount</div>
		                  <i class="dropdown icon"></i>
		                  <div class="menu">
		                    <div class="item" data-value="100">$100</div>
		                    <div class="item" data-value="500">$500</div>
		                    <div class="item" data-value="1000">$1000</div>
		                  </div>
		                </div>
					      </td>
					
					    </tr>
					    <tr>
					      <td>
	                <div class="grouped inline fields">
	                  <div class="field">
	                    <div class="ui radio checkbox">
	                      <input id="paypal" name="methodDonated" value="paypal" checked="checked" type="radio"> 
	                      <label for="paypal">PayPal</label>
	                    </div>
	                  </div>
	                  <div class="field">
	                    <div class="ui radio checkbox">
	                      <input id="direct" name="methodDonated" value="direct" type="radio"> 
	                      <label for="direct">Direct</label>
	                    </div>
	                  </div>
	                </div>
					      </td>					
					    </tr>
              <tr>
                <td>
                 <!-- <button type="button" onclick="submitForm()"></button> -->
                  <div class="ui blue submit button">Donate <i class="add icon"></i></div>
                  <div class="ui error message"></div>
                </td>         
              </tr>
					  </tbody>
					</table>
				</form>

    </div>
    <!-- Google map -->
    <div class="eight wide column">
      <table class="ui table">
        <thead>
          <tr>
            <th>Markers represent donor locations: click to discover name</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
            <div id="googleMap" style="width:500px;height:380px;"></div>  
            </td>         
          </tr>
        </tbody>
      </table>
    </div>
</div>

  <!-- Donation progress  -->
  <div class="ui segment">   
    <div class="ui indicating progress" id="progress">
      <div class="bar">
        <div class="progress"></div>
      </div>
      <div class="label" id="progresslabel">${donationprogress}% target achieved to date for candidate ${currentCandidate}</div>
    </div>
  </div>
</section> 

<script src="http://maps.googleapis.com/maps/api/js"></script>
<script src="@{'/public/javascripts/map.js'}"></script>


<script src="@{'/public/javascripts/donate.js'}"></script>

<!-- <script>
  $('#progress').progress('increment', '${donationprogress}'); 
</script> -->
 
<!-- http://semantic-ui.com/modules/progress.html -->