#{extends 'main.html' /} 
#{set title:'Report' /} 
  <nav class="ui menu">
    <a class="ui item" href="/donation">Make Donation</a>
    <a class="ui active item" href="/donation/report">Report</a>
     <a class="ui item" href="/editprofile">Edit Profile</a> <!-- Story 3 -->
    <a class="ui item" href="/logout">Log Out</a>
  </nav>
  
<section class="ui segment"> 
<h4>List Donations</h4>
	<table class="ui table segment">
	  <thead>
	    <tr>
	      <th>Donors</th>
	      <th>Age</th>
	      <th>State</th>
	      <th>Amount($)</th>
	      <th>Method donated</th>
	      <th>Date donated</th>
	      <th>Candidate</th>
	    </tr>
	  </thead>
	  <tbody>
	  #{list items:donations, as:'donation'}
	    <tr>
	      <td>${donation.from.firstName}&nbsp${donation.from.lastName}</td>
	      <td>${donation.from.age}</td>
	      <td>${donation.from.state}</td>
	      <td>${donation.received}</td>
	      <td>${donation.methodDonated}</td>
	      <td>${donation.dateDonated}</td>
	      <td>${donation.from.candidate.firstName} ${donation.from.candidate.lastName} </td>
	    </tr>
	  #{/list}
	  </tbody>
	</table>
</section>

<section class="ui segment"> 
<div class="ui grid">

<div class="four wide column">
<!-- Filter by candidates to whom donations made  --> 
<div class="ui form" >
	<form action="/donation/filterCandidates" method="POST"> 
	<div class="ui fluid form segment">       
	  <div class="ui dropdown">
	    <i class="spy icon"></i>
	    <input name="candidateEmail" type="hidden">
	    <span class="text">By Candidate</span>
	    <div class="menu">
	      #{list items:candidates, as: 'candidate'}
	        <div class="item" data-value="${candidate.email}">${candidate.firstName}</div>
	      #{/list}
	    </div>
<!-- 	    <div class="ui pointing left label teal">
	      Donation Recipient
	    </div>	 -->    
	  </div> 
	  <button type="submit" class="ui blue submit button">Filter</button>
   </div>
	</form>
</div>
</div><!-- ? wide col -->

<div class="four wide column">
<!-- Filter by donors from whom donations received  --> 
<div class="ui form" >
  <form action="/donation/filterDonors" method="POST"> 
  <div class="ui fluid form segment">       
    <div class="ui dropdown">
      <i class="money icon"></i>
      <input name="donorEmail" type="hidden">
      <span class="text">By Donor</span>
      <div class="menu">
        #{list items:donations, as: 'donation'}
          <div class="item" data-value="${donation.from.email}">${donation.from.firstName}</div>
        #{/list}
      </div>
<!--      <div class="ui pointing left label teal">
        Donation Recipient
      </div>   -->    
    </div> 
    <button type="submit" class="ui blue submit button">Filter</button>
   </div>
  </form>
</div>
</div><!-- ? wide col -->

<div class="four wide column">
<!-- Filter by state in which donor resides  --> 
<div class="ui form" >
  <form action="/donation/filterStates" method="POST"> 
  <div class="ui fluid form segment">       
    <div class="ui dropdown">
      <i class="world icon"></i>
      <input name="state" type="hidden">
      <span class="text">By State</span>
      <div class="menu">
        #{list items:states, as: 'state'}
          <div class="item" data-value="${state}">${state}</div>
        #{/list}
      </div>
<!--      <div class="ui pointing left label teal">
        Donation Recipient
      </div>   -->    
    </div> 
    <button type="submit" class="ui blue submit button">Filter</button>
   </div>
  </form>
</div>
</div><!-- ? wide col -->

<div class="three wide column">
<form action="/donation/report" method="GET">
  <div class="ui fluid form segment">
    <i class="refresh icon"></i>
    <button type="submit" class="ui blue submit button">All Donations</button>
  </div>
</form>
</div><!-- ? wide col -->

</div><!-- ui grid -->
</section> 


<script>$('.ui.dropdown').dropdown()</script>  
<!-- <script src="@{'/public/javascripts/reportRefresh.js'}"></script> -->