#{extends 'main.html' /}
#{set title:'Register Candidate' /}

   <nav class="ui menu">
    <a class="ui item" href="/administrator/report">Administrator Home</a>
    <a class="ui active item" href="/login">Register Candidate</a>
        <a class="ui item" href="/office">Create Office</a>
    <a class="ui item" href="/administrator/logout">Administrator Logout</a>
  </nav>

<section class="ui segment">
  <form action="/candidate/register" method="POST">
     
      
    <div class="ui two column grid">
      <div class="column">
        <div class="ui fluid form segment">
        <h3 class="ui header">Candidate registration</h3>
          <div class="two fields">
      <div class="field">
              <input placeholder="First Name" id="firstName" name="candidate.firstName" type="text">
            </div>
            <div class="field">
              <input placeholder="Last Name" name="candidate.lastName" type="text">
            </div>
          </div>              
        <!--  -->  
        <div class="field">
          <input placeholder="Email" name="candidate.email" type="text">
        </div>
        <div class="field">
          <input placeholder="Password" type="password" name="candidate.password">
        </div>   
			  <div class="ui fluid form segment">       
			    <div class="ui dropdown">
			      <i class="world icon"></i>
			      <input name="officeTitle" type="hidden">
			      <span class="text">Office</span>
			      <div class="menu">
			        #{list items:offices, as: 'office'}
			          <div class="item" data-value="${office.title}">${office.title}</div>
			        #{/list}
			      </div>   
			    </div> 
			  </div>                
        <button type="submit" class="ui blue submit button">Submit</button>
        </div>
      </div>
    </div>
  </form>
</section>
<script>
$('.ui.dropdown').dropdown();
</script>